<div class="control-container margin">
  <ejs-appbar colorMode="Primary">
    <span class="regular">Angular AppBar</span>
    <div class="e-appbar-spacer"></div>
    <button class="right-margin" ejs-button [routerLink]="['/datagrid']" routerLinkActive="active" cssClass="e-inherit login">Data Grid</button>
    <button class="right-margin" ejs-button [routerLink]="['/form']" routerLinkActive="active" cssClass="e-inherit login">Form</button>
    <button ejs-button [routerLink]="['/chart']" routerLinkActive="active" cssClass="e-inherit login">Price Chart</button>
  </ejs-appbar>
</div>
